name: Tests

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: head
            python-version: '3.11'
            wagtail-version: ''
            django-version: ''
          - name: lts_63
            python-version: '3.11'
            wagtail-version: '~=6.3.0'
            django-version: '~=4.2.0'
          - name: lts_70
            python-version: '3.13'
            wagtail-version: '~=7.0.0'
            django-version: '~=5.2.0'

    name: Test ${{ matrix.name }}
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -z "${{ matrix.wagtail-version }}" ]; then
            pip install .
          else
            pip install . wagtail${{ matrix.wagtail-version }} django${{ matrix.django-version }}
          fi
      
      - name: Run tests
        run: python runtests.py

  lint:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 isort
          pip install -e .
      
      - name: Run flake8
        run: flake8 wagtailschemaorg/ tests/
      
      - name: Run isort
        run: isort --diff --check-only wagtailschemaorg/ tests/